#calculator {
    display: table; padding: 30px; box-shadow: 0 0 10px #666; border-radius: 10px; margin: auto;
}

body {
    display: flex; height: 100vh; margin: 0;
}

button{width: 50px; height: 40px; box-shadow: 2px 2px 0 #666; border: 1px solid #666; border-radius: 5px; margin: 5px;}
button:active {box-shadow: 0 0 5px #666;}

#display {
    width: 247px;
    height: 100px;
    text-align: right;
    background: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    font-size: 40px !important;
}

#eq { width: 115px; background: orange;}
#eq:hover {background: rgb(0, 255, 166);}
.color {
    background: rgb(21, 123, 160);
    color: rgb(98, 255, 0);
    font-weight: 500;
}

.header {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchBox {
    margin-left: 20px;
    width: 60px;
    height: 25px;
    background: #d8d8d8;
    border-radius: 20px;
    position: relative;
}

.switchBox input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    -webkit-appearance: none;
}

.switchBox .box {
    position: absolute;
    top: 10%;
    left: 4px;
    width: 20px;
    height: 80%;
    background: #6d6d6d;
    border-radius: 20px;
    transition: all .4s;
}

.switchBox input:checked ~ .box {
    left: 60%;
    background: #ff8303;
}

.input {
    width: 100%;
    height: 60px;
    background: #fff;
}

input {
    cursor: pointer;
}

